<footer>
    <div class="container">
        <div class="row partner animated bounceInRight first">
            <div class="col-sm-4">
                <a href="http://estfeed.ee/" target="_blank" class="estfeed" alt="estfeed"></a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.elektrilevi.ee/et/avaleht" target="_blank" class="elektrilevi" alt="elektrilevi"></a>
            </div>
            <div class="col-sm-4">
                <a href="http://eeagrants.org/" target="_blank" class="nwg" alt="norway grants"></a>
            </div>
        </div>
    </div>
</footer>
