<footer>
    <div class="container">
        <div class="row partner">
            <div class="col-sm-4 text-center">
                <a href=""><img src="assets/img/logo_est.png" alt="Estfeed"></a>
            </div>
            <div class="col-sm-4 text-center">
                <a href=""><img src="assets/img/Elektrilevi_logo.jpg" alt="Elektrilevi"></a>
            </div>
            <div class="col-sm-4 text-center">
                <a href=""><img src="assets/img/norway_grants.jpg" alt="Norway Grants"></a>
            </div>
        </div>
    </div>
</footer>
