.page-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    // background-color: rgba(229, 229, 229, .95);
    background: linear-gradient(-90deg, #FF512F 10%, #F09819 90%);
    opacity: 0.7;
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        font-size: 100px;
        margin-left: -50px;
        margin-top: -50px;
    }
}

.navbar-brand  {
    color: inherit;
    opacity: 0.7;
    -webkit-transition: opacity 1s; 
    transition: opacity 1s;
    &:hover {
        opacity: 1;
    }
}

// background-blend-mode: multiply;

.jumbotron {
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    font-weight: 300;
    padding-top: 80px;
    z-index: 1;
    &.imaged {
        animation-delay: 0.2s;
        height: calc(100vh - 240px);
        background: url('../img/lembe-aasorg.jpg') no-repeat;
        background-size: cover;
        blockquote, 
        p {
            color: #FFF;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        }
        blockquote {
            font-size: 26px;
            font-weight: 300;
        }
        &:after {
            content: linear-gradient(-45deg, #FF512F 10%, #F09819 90%);
            opacity: 0.6;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    &.charted {
        &:after {
            content: linear-gradient(-45deg, #FF512F 10%, #F09819 90%);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            height: 100vh;
        }
    }
    p {
        font-weight: 400;
    }
}

.btn-outline-inverse {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    -webkit-transition: background 1s; 
    transition: background 1s;
    &:active,
    &:focus,
    &:hover {
        color: #F09819;
        text-shadow: none;
        background-color: #FFF;
        border-color: #F09819;
    }
}

.comeTogether .animated {
    animation-delay: 1.2s;
}

footer {
    position: relative;
    min-height: 100px;
    padding: 20px 0;
    a {
        text-align: center;
        padding: 10px 0;
        display: block;
        height: 100px;
        width: auto;
        -webkit-transition: background 1s; 
        transition: background 1s;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
        &.estfeed {
            background: url('../img/estfeed-mv.jpg') 0% no-repeat;
            background-size: contain;
            &:hover {
                background: url('../img/estfeed.jpg') 10% no-repeat;
                background-size: contain;
            }
        }
        &.elektrilevi {
            background: url('../img/elektrilevi-mv.jpg') 50% no-repeat;
            background-size: contain;
            &:hover {
                background: url('../img/elektrilevi.jpg') 60% no-repeat;
                background-size: contain;
            }
        }
        &.nwg {
            background: url('../img/nwg-mv.jpg') 100% no-repeat;
            background-size: contain;
            &:hover {
                background: url('../img/nwg.jpg') 110% no-repeat;
                background-size: contain;
            }
        }
    }
}

// c3 adjustments
.c3 path, .c3 line {
  fill: none;
  stroke: #fff;
  opacity: 0.7;
}

.c3-axis-y-label {
  color: red;
  fill: red;
  stroke: #fff;
}


.regionY {
    fill: red;
}

.c3-axis-x .tick text tspan:first-child {
    color: red;
    fill: red;
}

.c3-brush .extent:hover {
  fill: red;
}


