/*
Error: Invalid CSS after "...a7ee28939b519c8": expected "{", was ""
        on line 93 of assets/sass/_style.scss
        from line 60 of assets/sass/app.scss

88:         margin-left: -50px;
89:         margin-top: -50px;
90:     }
91: }
92: >>>>>>> 9af7e05c34f8582dbc269e6f6a7ee28939b519c8

Backtrace:
assets/sass/_style.scss:93
assets/sass/app.scss:60
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:1167:in `expected'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:1101:in `expected'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:1096:in `tok!'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:641:in `block'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:636:in `ruleset'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:660:in `block_child'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/engine.rb:393:in `_to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/engine.rb:299:in `to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/stack.rb:88:in `with_import'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/bin/sass:19:in `load'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/bin/sass:19:in `<main>'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/bin/ruby_noexec_wrapper:14:in `eval'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...a7ee28939b519c8\": expected \"{\", was \"\"\A         on line 93 of assets/sass/_style.scss\A         from line 60 of assets/sass/app.scss\A \A 88:         margin-left: -50px;\A 89:         margin-top: -50px;\A 90:     }\A 91: }\A 92: >>>>>>> 9af7e05c34f8582dbc269e6f6a7ee28939b519c8"; }
